.construct {
    width: 30%;
    margin: 0 auto;
    padding-top:1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 10px 50px;
    font-size: 1rem;
    font-weight: 500;
}

p{
    color : var( --color-bg-variant);
}